/**** Reset styles ****/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**** end of reset styles ****/
header {
  width: 100%;
  height: 5rem;
  background: #fff;
  position: relative;
  z-index: 200; }
  header .menu {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .menu .menu-nav {
      width: 30%;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold; }
      header .menu .menu-nav .nav-link {
        transition: all 0.18s ease-out; }
        header .menu .menu-nav .nav-link:hover {
          color: #b3b3b3; }
    header .menu .menu-mobile-btn {
      position: absolute;
      top: 2.25rem;
      right: calc(100vw - 95vw);
      display: inline-block;
      cursor: pointer;
      transition: all 0.36s ease-out; }
      header .menu .menu-mobile-btn .btn-line {
        width: 1.8rem;
        height: 0.12rem;
        margin: 0 0 0.33rem 0;
        background-color: #000;
        transition: all 0.36s ease-out; }
        header .menu .menu-mobile-btn .btn-line:nth-child(2) {
          margin-bottom: 0; }
      header .menu .menu-mobile-btn.close {
        transform: rotate(180deg); }
        header .menu .menu-mobile-btn.close .btn-line:nth-child(1) {
          transform: rotate(45deg) translate(2px, 3px); }
        header .menu .menu-mobile-btn.close .btn-line:nth-child(2) {
          transform: rotate(-45deg) translate(2px, -3px); }

.mobile-menu {
  display: none;
  position: absolute;
  top: 5rem;
  width: 100%;
  height: calc(100% - 5rem);
  background-color: rgba(0, 0, 0, 0.466); }
  .mobile-menu.show {
    display: block; }
  .mobile-menu .mobile-nav-container {
    width: 100%;
    height: 19.5em;
    padding: 1rem 6vw 0 6vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    transform: translate3d(0, -100%, 0);
    transition: all 0.36s ease-out; }
    .mobile-menu .mobile-nav-container.show {
      transform: translate3d(0, 0, 0); }
    .mobile-menu .mobile-nav-container .menu-nav {
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 6rem; }
    .mobile-menu .mobile-nav-container hr {
      background: rgba(153, 153, 153, 0.418);
      width: 100%;
      height: 0.085rem; }

html {
  min-height: 100%; }

body {
  min-height: 100%;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 1;
  position: relative; }

p {
  line-height: 1.6; }
  p.light-text {
    color: #999; }
  p.dark-text {
    color: #666; }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bold; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading,
  h4.lg-heading {
    font-size: 2.66rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  h1.md-heading,
  h2.md-heading,
  h3.md-heading,
  h4.md-heading {
    font-size: 1.6rem;
    line-height: 1.04; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading,
  h4.sm-heading {
    font-size: 1.2rem;
    line-height: 1.33; }
  h1.xs-heading,
  h2.xs-heading,
  h3.xs-heading,
  h4.xs-heading {
    font-size: 0.8rem;
    line-height: 1.33;
    font-weight: normal; }

a {
  color: #000;
  text-decoration: none; }

.cta-btn {
  height: 2.66rem;
  padding: 0 1.7rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.18s ease-out; }
  .cta-btn.mobile-cta {
    height: 2.9rem;
    width: 100%; }
  .cta-btn:hover {
    background: #dfdfdf;
    cursor: pointer;
    color: #000; }

.arrow-btn {
  background: none;
  padding: 0.1rem 0;
  text-transform: uppercase; }
  .arrow-btn.white-btn {
    color: #fff; }
  .arrow-btn.footer-btn {
    position: relative;
    right: 1rem; }
  .arrow-btn .arrow {
    position: relative;
    left: 1rem;
    top: 0.1rem;
    transition: all 0.18s ease-out; }
  .arrow-btn:hover {
    text-decoration: underline;
    cursor: pointer; }
  .arrow-btn:hover > .arrow {
    left: 1.5rem; }

.read-story-btn {
  background: none;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  transition: all 0.18s ease-out; }
  .read-story-btn .arrow-2 {
    float: right;
    position: relative;
    top: 0.2rem; }
  .read-story-btn:hover {
    text-decoration: underline;
    cursor: pointer; }

.intro {
  width: 100%; }
  .intro .intro-flex-1 {
    display: flex;
    width: 100%; }
  .intro .intro-flex-2 {
    display: flex;
    width: 100%;
    flex-direction: row-reverse; }
  .intro .intro-flex-3 {
    display: flex;
    width: 100%; }
  .intro .intro-text {
    height: 42.2em;
    width: 40em;
    padding: 0 6.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .intro .intro-text p {
      margin-bottom: 3rem; }
    .intro .intro-text.intro-text-1 {
      background: #000;
      color: #fff; }
  .intro .intro-img {
    height: 42.2em;
    width: calc(100vw - 40em); }
    .intro .intro-img .img {
      width: 100%;
      height: 100%; }
      .intro .intro-img .img.img-1 {
        background: url("../assets/home/desktop/create-and-share.jpg");
        background-size: cover;
        background-position: top; }
      .intro .intro-img .img.img-2 {
        background: url("../assets/home/desktop/beautiful-stories.jpg");
        background-size: cover;
        background-position: left; }
      .intro .intro-img .img.img-3 {
        background: url("../assets/home/desktop/designed-for-everyone.jpg");
        background-size: cover;
        background-position: center; }

.stories {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); }
  .stories .story {
    height: 30em;
    color: #fff;
    transition: all 0.18s ease-out; }
    .stories .story hr {
      width: 100%;
      diplay: block;
      height: 0.08rem;
      background: #404040;
      margin: 1rem 0; }
    .stories .story:hover {
      transform: translateY(-1.2rem);
      border-bottom: 0.3rem solid;
      border-image: linear-gradient(to right, #bc7198 25%, #5a77ff 75%);
      border-image-slice: 1; }
  .stories .story-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.253);
    background-blend-mode: overlay;
    padding: 2.25rem 3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .stories .mountains {
    background: url("../assets/stories/desktop/mountains.jpg");
    background-size: cover;
    background-position: center; }
  .stories .cityscapes {
    background: url("../assets/stories/desktop/cityscapes.jpg");
    background-size: cover;
    background-position: center; }
  .stories .voyage {
    background: url("../assets/stories/desktop/18-days-voyage.jpg");
    background-size: cover;
    background-position: center; }
  .stories .architecturals {
    background: url("../assets/stories/desktop/architecturals.jpg");
    background-size: cover;
    background-position: center; }

.perks {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 8vw; }
  .perks .perk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30em;
    text-align: center;
    padding: 1rem; }
    .perks .perk:nth-child(2) .perk-icon {
      height: 4em;
      width: 6em;
      margin-bottom: 4rem;
      margin-top: 1rem; }
  .perks .perk-icon {
    margin-bottom: 3rem;
    text-align: justify;
    height: 6em;
    width: 6em; }
  .perks .sm-heading {
    margin-bottom: 1.25rem; }

.main-footer {
  height: 15em;
  width: 100%;
  background: #000; }
  .main-footer .footer-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    position: relative; }
  .main-footer .logo-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .main-footer .social-icons .icon {
    display: inline-block;
    margin-right: 0.8rem;
    transition: all 0.18s ease-out; }
    .main-footer .social-icons .icon:hover {
      transform: scale(0.85, 0.85);
      cursor: pointer; }
  .main-footer .invite-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .main-footer .footer-menu-nav {
    position: absolute;
    bottom: 3rem;
    left: 20rem; }
  .main-footer .footer-nav-item:nth-child(1), .main-footer .footer-nav-item:nth-child(2), .main-footer .footer-nav-item:nth-child(3) {
    padding-bottom: 1.35rem; }
  .main-footer .footer-nav-link {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.18s ease-out; }
    .main-footer .footer-nav-link:hover {
      color: #999; }

@media screen and (max-width: 1170px) {
  header .menu {
    width: 90%;
    margin: none; }
    header .menu .menu-nav {
      width: 37.5%; }
      header .menu .menu-nav .nav-item {
        font-size: 13px; } }

@media screen and (max-width: 870px) {
  .intro .intro-img .img.img-1 {
    background: url("../assets/home/tablet/create-and-share.jpg");
    background-size: cover;
    background-position: center; }
  .intro .intro-img .img.img-2 {
    background: url("../assets/home/tablet/beautiful-stories.jpg");
    background-size: cover;
    background-position: left; }
  .intro .intro-img .img.img-3 {
    background: url("../assets/home/tablet/designed-for-everyone.jpg");
    background-size: cover;
    background-position: center; }
  .intro .intro-text {
    padding: 0 2.8rem; }
    .intro .intro-text.intro-text-2, .intro .intro-text.intro-text-3 {
      padding: 0 2.8rem; }
  .stories {
    grid-template-columns: repeat(2, 1fr); }
    .stories .story-overlay {
      padding: 2.25rem 2.8rem; }
    .stories .story:hover {
      transform: none;
      border-bottom: none; }
  .perks {
    flex-direction: column;
    padding: 0 15vw; }
    .perks .perk {
      height: 100%; }
      .perks .perk:nth-child(1) {
        margin-top: 7rem;
        margin-bottom: 5rem; }
      .perks .perk:nth-child(2) {
        margin-bottom: 5rem; }
        .perks .perk:nth-child(2) .perk-icon {
          margin-bottom: 3rem;
          margin-top: 0; }
      .perks .perk:nth-child(3) {
        margin-bottom: 8rem; }
  .main-footer {
    height: 20em; }
    .main-footer .footer-container {
      width: 90%; }
    .main-footer .footer-menu-nav {
      display: flex;
      width: 40%;
      left: 0;
      bottom: 9.5rem;
      justify-content: space-between; } }

@media screen and (max-width: 767.8px) {
  .intro .intro-flex-1 {
    flex-direction: column-reverse; }
  .intro .intro-flex-2 {
    flex-direction: column-reverse; }
  .intro .intro-flex-3 {
    flex-direction: column-reverse; }
  .intro .intro-text {
    width: 100%;
    text-align: center; }
  .intro .intro-img {
    height: 40em;
    width: 100%; }
    .intro .intro-img .img.img-1 {
      background: url("../assets/home/mobile/create-and-share.jpg");
      background-size: cover;
      background-position: center; }
    .intro .intro-img .img.img-2 {
      background: url("../assets/home/mobile/beautiful-stories.jpg");
      background-size: cover;
      background-position: left; }
    .intro .intro-img .img.img-3 {
      background: url("../assets/home/mobile/designed-for-everyone.jpg");
      background-size: cover;
      background-position: center; }
  .perks {
    padding: 0 10vw; }
  .main-footer {
    height: 33em; }
    .main-footer .footer-container {
      flex-direction: column; }
      .main-footer .footer-container .logo-socials {
        align-items: center; }
        .main-footer .footer-container .logo-socials .footer-logo {
          margin-bottom: 2rem; }
        .main-footer .footer-container .logo-socials .social-icons .icon {
          margin: 0 0.4rem; }
      .main-footer .footer-container .invite-copyright {
        align-items: center; }
        .main-footer .footer-container .invite-copyright p {
          margin-top: 1.5rem; }
    .main-footer .footer-menu-nav {
      flex-direction: column;
      align-items: center;
      bottom: 12.5rem;
      left: 26vw; } }

@media screen and (max-width: 500px) {
  .intro .intro-img {
    height: 25em; }
  .stories {
    grid-template-columns: 1fr; }
    .stories .mountains {
      background: url("../assets/stories/mobile/mountains.jpg");
      background-size: cover;
      background-position: center; }
    .stories .cityscapes {
      background-size: cover;
      background-position: center top; }
    .stories .voyage {
      background: url("../assets/stories/mobile/18-days-voyage.jpg");
      background-size: cover;
      background-position: center bottom; }
    .stories .architecturals {
      background-size: cover;
      background-position: center center; }
    .stories .story-overlay {
      padding: 2.25rem 6vw; }
  .perks {
    padding: 0 5vw; } }
