//Widescreens
@include mediaXl {
}

//Desktops & Laptops
@include mediaLg {
  header {
    .menu {
      width: 90%;
      margin: none;

      .menu-nav {
        width: 37.5%;

        .nav-item {
          font-size: 13px;
        }
      }
    }
  }
}

//Tablets and small laptops
@include mediaMdL {
  .intro {
    .intro-img {
      .img {
        &.img-1 {
          background: url("../assets/home/tablet/create-and-share.jpg");
          background-size: cover;
          background-position: center;
        }
        &.img-2 {
          background: url("../assets/home/tablet/beautiful-stories.jpg");
          background-size: cover;
          background-position: left;
        }
        &.img-3 {
          background: url("../assets/home/tablet/designed-for-everyone.jpg");
          background-size: cover;
          background-position: center;
        }
      }
    }

    .intro-text {
      padding: 0 2.8rem;

      &.intro-text-2,
      &.intro-text-3 {
        padding: 0 2.8rem;
      }
    }
  }

  .stories {
    grid-template-columns: repeat(2, 1fr);

    .story-overlay {
      padding: 2.25rem 2.8rem;
    }

    .story {
      &:hover {
        transform: none;
        border-bottom: none;
      }
    }
  }

  .perks {
    flex-direction: column;
    padding: 0 15vw;

    .perk {
      height: 100%;

      &:nth-child(1) {
        margin-top: 7rem;
        margin-bottom: 5rem;
      }

      &:nth-child(2) {
        margin-bottom: 5rem;

        .perk-icon {
          margin-bottom: 3rem;
          margin-top: 0;
        }
      }

      &:nth-child(3) {
        margin-bottom: 8rem;
      }
    }
  }
}

//Small Tablets
@include mediaMd {
  .intro {
    .intro-flex-1 {
      flex-direction: column-reverse;
    }

    .intro-flex-2 {
      flex-direction: column-reverse;
    }

    .intro-flex-3 {
      flex-direction: column-reverse;
    }

    .intro-text {
      width: 100%;
      text-align: center;
    }

    .intro-img {
      height: 40em;
      width: 100%;

      .img {
        &.img-1 {
          background: url("../assets/home/mobile/create-and-share.jpg");
          background-size: cover;
          background-position: center;
        }
        &.img-2 {
          background: url("../assets/home/mobile/beautiful-stories.jpg");
          background-size: cover;
          background-position: left;
        }
        &.img-3 {
          background: url("../assets/home/mobile/designed-for-everyone.jpg");
          background-size: cover;
          background-position: center;
        }
      }
    }
  }

  .perks {
    padding: 0 10vw;
  }
}

//Smartphones
@include mediaSm {
  .intro {
    .intro-img {
      height: 25em;
    }
  }

  .stories {
    grid-template-columns: 1fr;

    .mountains {
      background: url("../assets/stories/mobile/mountains.jpg");
      background-size: cover;
      background-position: center;
    }

    .cityscapes {
      background-size: cover;
      background-position: center top;
    }

    .voyage {
      background: url("../assets/stories/mobile/18-days-voyage.jpg");
      background-size: cover;
      background-position: center bottom;
    }

    .architecturals {
      background-size: cover;
      background-position: center center;
    }

    .story-overlay {
      padding: 2.25rem 6vw;
    }
  }

  .perks {
    padding: 0 5vw;
  }
}
